.toggler {
  font-size: 0.9rem;
  padding: 7px;
  border-radius: 10px;
  width: 100px;
  text-align: center;
  background: none;
  border-radius: 10px;
  border: none;
  color: #646cff;
}
.toggler:hover {
  font-weight: 800;
}
.box {
  display: flex;
  justify-content: center;
}
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: monospace;
  height: 100vw;
  line-height: 24px;
  font-weight: 500;
}
.dark {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}
.light {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}
ul {
  display: flex;
  justify-content: center;
  list-style: none;
}
.ul {
  padding: 10px;
}
.themes-btn {
  position: fixed;
  right: 0;
  border: 1px solid #535bf2;
  border-radius: 10px;
  margin-right: 50px;
}
a {
  text-decoration: none;
  padding: 0 50px 0 50px;
  color: #646cff;
  font-size: 16px;
}
a:hover {
  color: #535bf2;
  font-weight: 800;
}
.footer a {
  font-size: 20px;
}
.footer {
  width: 100%;
  margin-top: 100px;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 4px;
}
.pie {
  margin: 0 auto;
}
.table {
  margin: 0 auto;
  width: 70vw;
}
.addstock-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: no-wrap;
  margin: 0 auto;
  align-items: center;
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 10px;
  width: 400px;
}
.addstock-wrapper label {
  margin: 10px;
  text-align: center;
  font-size: 16px;
}
.addstock-wrapper input {
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
}
.addstock-wrapper button {
  background-color: #646cff;

  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
}

.addstock-wrapper button:hover {
  background-color: #535bf2;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 30px;
}

table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
}

.table-head {
  background-color: #646cff;
  color: white;
}
.table-head th {
  padding: 12px;
}

td,
th {
  border: 1px solid #ddd;
  padding: 12px;
}
h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 3.2em;
  line-height: 1.1;
}

input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.delete-btn {
  background-color: #fd948d;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 6px;
  font-size: 12px;
}

.delete-btn:hover {
  background-color: #d32f2f;
}
.total-value-info {
  display: flex;
  align-items: center;
}
.total-value-info {
  justify-content: space-around;
}
.value-info {
  padding: 20px;
  font-size: 16px;
}
.profit {
  color: green;
}

.loss {
  color: red;
}
.modal {
  margin: 0 auto;
  width: 50%;
  height: 10%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  background-color: white;
  text-align: center;
  border-radius: 10px;
  color: black;
}
.modal h2 {
  text-align: center;
}
